html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "IkraSlab";
  src: url("../fonts/IkraSlab-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}

.heading {
  font-family: "IkraSlab", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F6F6F6;
  color: rgba(0, 0, 0, 0.7);
}

html,
body {
  height: 100%;
  margin: 0;
}

ul, li {
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 83px 0 50px;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.logo--header {
  height: 50px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.button {
  background: #2F2F2F;
  border-radius: 20px;
  padding: 13px 90px;
  color: #FFFFFF;
  cursor: pointer;
}
.button-primary {
  border: 1px solid #2F2F2F;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.acf-input-wrap input {
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: transparent;
  width: 40%;
  padding: 8px 10px;
  outline: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.acf-input-wrap input:focus {
  border-bottom: 1px solid #DC101C;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 20px 0;
  background-color: #DC101C;
  color: #FFFFFF;
  z-index: 10;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo img {
  width: 80px;
  height: 80px;
}
.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 250px;
}
.header__search-input {
  position: relative;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
}
.header__search-input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.header__search-input::-moz-placeholder {
  color: #FFFFFF;
}
.header__search-input:-ms-input-placeholder {
  color: #FFFFFF;
}
.header__search-input::-ms-input-placeholder {
  color: #FFFFFF;
}
.header__search-input::placeholder {
  color: #FFFFFF;
}
.header__search-input::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
.header__search-btn {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 17px;
}
.header__index {
  margin-top: auto;
  margin-bottom: auto;
  background: none !important;
  padding-top: 45px;
}
.header__index-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header__index-menu .menu__item {
  color: #2F2F2F !important;
  margin-right: 140px !important;
}
.header__index-menu .menu__item:last-child {
  margin-right: 220px !important;
}

.header__index-menu .menu__link::before {
  background-color: #2F2F2F !important;
}

.menu__body {
  margin-top: -5px;
}
@media (max-width: 768px) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    padding: 150px 30px 50px 70px;
    background-color: rgba(47, 47, 47, 0.9);
    overflow: auto;
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 116px;
    background-color: rgba(47, 47, 47, 0.9);
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    z-index: 2;
  }
}
.menu__body._active {
  right: 0;
}
.menu__body._active::before {
  right: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 3px;
  padding: 5px 0;
  color: #F6F6F6;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.menu__item:not(:last-child) {
  margin-right: 39px;
}
@media (max-width: 768px) {
  .menu__item {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.menu__link {
  position: relative;
}
.menu__link::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.menu__icon {
  display: none;
}
@media (max-width: 768px) {
  .menu__icon {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32px;
    flex: 0 0 32px;
    width: 32px;
    height: 29px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    z-index: 5;
  }
}
.menu__icon span {
  position: absolute;
  top: calc(50% - 3px);
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #FFFFFF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__icon span:first-child {
  top: 0;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}
.menu__icon._active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.menu__icon._active span:first-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu__icon._active span:last-child {
  top: calc(50% - 3px);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.index-main {
  position: relative;
  padding-top: 150px;
}
.index-main::before {
  position: absolute;
  content: "";
  width: 1000px;
  height: 1500px;
  right: -50%;
  top: 0;
  background-color: #AA0E14;
  z-index: -1;
}
.index-main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 84vh;
}
.index-main__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 98px;
}
.index-main__add-logo {
  width: 340px;
  margin-bottom: 28px;
}
.index-main__add-btn {
  position: relative;
  padding: 13px 54px 13px 91px;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.index-main__add-btn::after {
  position: absolute;
  display: block;
  content: "";
  top: 14px;
  left: 52px;
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/sprite.svg#plus);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: background-image 0.3s linear;
  -o-transition: background-image 0.3s linear;
  transition: background-image 0.3s linear;
  z-index: 3;
}
.index-main__verse {
  position: relative;
  width: 777px;
  padding-left: 141px;
}
.index-main__verse::before {
  position: absolute;
  content: "";
  width: 1231px;
  height: 1231px;
  left: 0;
  top: 0;
  background: -o-radial-gradient(64% 40.5%, 40.99% 30.57%, #E8101E 0%, #DC101C 18.75%, #D00F1A 39.06%, #C60F19 55.73%, #B70F16 79.17%, #AA0E14 100%);
  background: radial-gradient(40.99% 30.57% at 64% 40.5%, #E8101E 0%, #DC101C 18.75%, #D00F1A 39.06%, #C60F19 55.73%, #B70F16 79.17%, #AA0E14 100%);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(112, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 3px rgba(112, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}
.index-main__verse-title {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
}
.index-main__verse-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1666666667;
  color: #FFFFFF;
}

.add {
  padding-top: 88px;
}
.add__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.add__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 250px;
  padding: 50px 28px 50px 50px;
  border-bottom: 2px solid #F6F6F6;
  background-color: #2F2F2F;
  color: #FFFFFF;
}
.add__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px;
  border-bottom: 2px solid #DC101C;
  border-right: 2px solid #DC101C;
}
.add__right .input:first-child {
  margin-bottom: 40px;
}
.add__table {
  width: 100%;
  border-collapse: collapse;
}
.add__table-th {
  text-align: left;
  font-weight: 400;
}
.add__table-th span {
  display: block;
  margin-bottom: 30px;
}
.add__table-td {
  width: 295px;
  padding-right: 65px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.add__table-input {
  width: 100%;
  margin-bottom: 0 !important;
  border-bottom: 1px solid #DC101C;
  border-radius: 7px;
  padding: 5px 7px;
}
.add__descrip {
  width: 100%;
  padding: 50px;
  border: 1px solid #2F2F2F;
  border-radius: 5px;
  resize: none;
  outline: none;
  overflow: auto;
}
.add__descrip:focus {
  border: 1px solid #DC101C;
}
.add__sum {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.1875;
  color: rgba(0, 0, 0, 0.7);
}
.add__sum input {
  width: 26%;
}
.add__total {
  margin-top: 35px;
  width: 50%;
}
.add-watch__btn {
  margin-top: 30px;
  margin-left: 63px;
  background-color: #DC101C;
  border: 1px solid #DC101C;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.arhive {
  padding-top: 120px;
  padding-bottom: 50px;
}
.arhive__table {
  width: 100%;
  margin-bottom: 50px;
  border-collapse: collapse;
}
.arhive__table-head {
  border-bottom: 1px solid #2F2F2F;
}
.arhive__table-body .arhive__table-row {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  border: 1px solid transparent;
  -webkit-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
  cursor: pointer;
}
.arhive__table-body .arhive__table-row:hover {
  border: 1px solid #DC101C;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
}
.arhive__table-body .arhive__table-td:first-child {
  font-weight: bold;
}
.arhive__table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  padding-right: 0;
}
.arhive__table-td, .arhive__table-th {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.arhive__table-td:first-child, .arhive__table-th:first-child {
  -ms-flex-preferred-size: 320px;
  flex-basis: 320px;
}
.arhive__table-td:nth-child(2), .arhive__table-th:nth-child(2) {
  -ms-flex-preferred-size: 170px;
  flex-basis: 170px;
}
.arhive__table-td:nth-child(3), .arhive__table-th:nth-child(3) {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
}
.arhive__table-td:nth-child(4), .arhive__table-th:nth-child(4) {
  -ms-flex-preferred-size: 200px;
  flex-basis: 200px;
}
.arhive__table-td:last-child, .arhive__table-th:last-child {
  -ms-flex-preferred-size: 290px;
  flex-basis: 290px;
}
.arhive__table-th {
  -moz-text-align-last: left;
  text-align-last: left;
  -ms-flex-line-pack: left;
  align-content: left;
}
.arhive__table-text {
  padding-right: 15px;
  font-size: 18px;
}

.article__input {
  margin-bottom: 20px !important;
}
.article__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.article__cell {
  width: 33%;
}
.article__cell-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 20px;
  height: 20px;
  text-align: left;
}
.article__data.article__input {
  border-bottom: 1px solid #DC101C;
  padding: 7px 15px;
  border-radius: 7px;
  width: 45%;
}

.pagination {
  display: block;
  width: 100%;
  margin-top: 70px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-numbers {
  margin: 0 4px;
  padding: 11px 15px;
  border: 2px solid transparent;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.7);
}
.page-numbers.current {
  border: 2px solid #DC101C;
  font-weight: 700;
  color: #DC101C;
}
.page-numbers.current a {
  display: block;
}

.login {
  height: 100vh;
  background-color: #2F2F2F;
  color: #F6F6F6;
}
.login__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}
.login__wrap a {
  font-weight: bold;
  color: #DC101C;
}
.login__logo {
  width: 340px;
  height: 264px;
  margin-bottom: 50px;
}
.login__form-wrap {
  width: 550px;
}
.login__form-auth {
  margin-top: 40px;
  text-align: center;
}

#loginform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.login-username label,
.login-password label {
  display: block;
  width: 100%;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
}
.login-username input,
.login-password input {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 20px;
  border: 2px solid #F6F6F6;
  border-radius: 5px;
  background-color: transparent;
  color: #FFFFFF;
  outline: none;
  -webkit-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.login-username input:focus,
.login-password input:focus {
  border: 2px solid #DC101C;
}

.login-submit {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}
.login-submit input {
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 15px 20px;
  background-color: #DC101C;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1875;
  color: #F6F6F6;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  outline: none;
  cursor: pointer;
}

.login-remember {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}
.login-remember label {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.search {
  padding-top: 88px;
}
.search__title {
  margin-bottom: 50px;
  font-size: 30px;
}
.search__title span {
  font-weight: bold;
  color: #DC101C;
}

.footer-add {
  margin-top: -2px;
  background-color: #DC101C;
}
.footer-add__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 80px;
}
.footer-add__btn {
  border: 1px solid #2F2F2F;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.footer__add {
  margin-top: 50px;
}

@media (min-width: 992px) {
  .login__btn:hover {
    background-color: #c40e19;
  }

  .menu__link:hover::before {
    width: 100%;
  }

  .index-main__add-btn:hover {
    background-color: #DC101C;
  }
  .index-main__add-btn:hover::after {
    background: url(../images/icons/sprite.svg#plus-dark);
  }

  .button-primary:hover {
    border: 1px solid #DC101C;
  }

  .add-watch__btn:hover {
    border: 1px solid #DC101C;
    background-color: #FFFFFF;
    color: #DC101C;
  }

  .footer-add__btn:hover {
    border: 1px solid #FFFFFF;
    background-color: #DC101C;
  }
}
/*# sourceMappingURL=style.css.map */
