.article
  &__input
    margin-bottom: 20px !important
  &__row
    display: flex
    align-items: flex-end
    justify-content: space-between
  &__cell
    width: 33%
    &-add
      display: flex
      align-items: flex-start
      width: 20px
      height: 20px
      text-align: left
  &__data.article__input
    border-bottom: 1px solid $red
    padding: 7px 15px
    border-radius: 7px
    width: 45%
