.login
  background-color: $black
  height: 100vh
  color: $bgc
  &__wrap
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
  &__logo
    width: 340px
    height: 264px
    margin-bottom: 50px

  &__form
    display: flex
    flex-direction: column
    width: 100%
    &-wrap
      width: 550px
  &__field
    width: 100%
    margin-bottom: 20px
  &__text
    display: block
    @include font(400, 16, 19)
    margin-bottom: 6px
  &__input
    width: 100%
    padding: 10px 20px
    color: $white
    border: 2px solid $bgc
    border-radius: 5px
    background-color: transparent
    outline: none
    transition: border 0.3s linear
    &:focus
      border: 2px solid $red
  &__btn
    display: block
    background-color: $red
    border-radius: 5px
    color: $bgc
    padding: 15px 20px
    margin-top: 25px
    margin-bottom: 25px
    @include font(600, 16, 19)
    text-transform: uppercase
    transition: background-color 0.3s linear
    outline: none
  &__subform
    @include fl-all
  &__checkbox
    position: absolute
    opacity: 0
    // background-color: transparent
    // border: 1px solid $bgc
    // outline: none
    // outline: none
    // outline: none
    &-text
      position: relative
      display: inline-block
      padding-left: 22px
      font-size: 14px
      &::before
        content: ''
        position: absolute
        left: 0
        top: 0
        display: inline-block
        width: 15px
        height: 15px
        border: 1px solid $bgc
        border-radius: 2px
        transition: background-color 0.3s linear
      &::after
        content: ''
        position: absolute
        left: -1px
        top: 0
        width: 16px
        height: 16px
        background-image: url('../images/icons/sprite.svg#check')
        background-position: center
        background-size: 10px 8px
        background-repeat: no-repeat
        opacity: 0
        transition: opacity 0.3s linear
    &:checked + .login__checkbox-text
      color: $red
    &:checked + .login__checkbox-text::before
      background-color: $red
      border: 1px solid $red
    &:checked + .login__checkbox-text::after
      opacity: 1
    // &:focus + .login__checkbox-text
    //   outline: 3px solid $red
    //   color: blue
  &__recovery
    @include font(400, 16, 19)
    font-size: 16px
    line-height: 19px
    color: $red
